@import url("OpenSans.css");

html
{
  width: 100%;
  height:100%;
  overflow:auto;
}

body
{
  width: 100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background: #5F7186;
  color: white;
}

.box-container
{
  background-color:#348AC7;
  width:auto;
  margin-right:20px;
  margin-left:20px;
  padding:5px 20px 20px 20px;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

table
{
  width: 100%;
  background: rgba(255,255,255,1);
  color: #000000;
  font-size:115%;
  padding:10px 0px 0px 0px;
}

thead
{
  font-weight:bold;
}

td
{
  padding:5px;
}

select
{
  width:auto;
  display:inline-block;
}

h1
{
  color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center;
}
