<!--
//  registerStudent.html
//  Attendance_Web
//
//  Created by Jake Wert on 5/13/16.
//  Copyright © 2016 Jake Wert. All rights reserved.
//
//  This is the edit profile page. At this time professors
//  may only change their password.
-->

<!doctype html>
<html ng-app="registerStudentApp">
<head>
  <title>Register Student</title>
  <meta charset="UTF-8">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="js/registerStudent.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/attendance.css">
</head>

<body ng-controller="RegisterStudentController">

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">RFID Attendence System</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Attendance Viewer<span class="sr-only">(current)</span></a></li>
          <li><a href="dashboard.html">Professor Dashboard</a></li>
          <li class="active"><a href="registerStudent.html">Register Student</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="profile.html">Edit Profile</a></li>
          <li ng-click="logout()"><a href="login.html">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Student Registration -->
  <div class="box-container">

    <div>
      <h3>
        Register Student
      </h3>
      <div>
        <form name="newStudentForm">
          <fieldset class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" required class="form-control" ng-model="firstName" id="firstName">
          </fieldset>
          <fieldset class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" required class="form-control" ng-model="lastName" id="lastName">
          </fieldset>
          <fieldset class="form-group">
            <label for="studentID">Student ID</label>
            <input type="text" required class="form-control" ng-model="studentID" id="studentID">
          </fieldset>

          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-success"
                style="outline: none;"
                ng-click="registerStudent()">
                Submit
              </button>
            </div>
          </div>
      </div>
    </div>

    <div>
      <h3>Registered Students</h3>
      <div>
        <table class="table-bordered table-hover">
          <thead>
            <tr>
              <td>Student ID</td>
              <td>First Name</td>
              <td>Last Name</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="obj in registeredStudents | orderBy:'lastName'">
              <td>{{ obj.$id }}</td>
              <td>{{ obj.firstName }}</td>
              <td>{{ obj.lastName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>
</html>
